@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estate Agency</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Real Estate Agency is a free web for new offers or demands</h2>
        <p>
            Company is new.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Library</h2>
        <p>This is new div.</p>
    </div>
    <div class="col-md-4">
        <h2>Message of the day</h2>
        <p>Hello Word</p>      
    </div>
</div>